
#light{
position:relative;
height:200px;
width:200px;
z-index:0.5;
left:1150px;
bottom: 380px;
}
#lightoff{
background-image: url("off.jpg");
background-size:contain;
background-repeat:no-repeat;
height: 100%;
width:100%;
position:absolute;
}
#lightoff.on{
	background-image: url("on.jpg");
}

.room{
  width: 1000px;
  height: 600px;
  margin: 0px; 
  padding: 0px;
}

.room1{
	position:relative;
	z-index:-1;
	background-color: black;
  width: 1000px;
  height: 600px;
  margin: 0px; 
  padding: 0px;
}

.room1.show{
	position:relative;
z-index: 1;
background-image:url(thursday.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position:center;}
